# Unlocking Business Potential: Leveraging Bias-Aware Hierarchical Clustering for Actionable Insights from Yelp Data

### Zeinab Gaeini, Debbie Hernandez, Harper Strickland

## Part 3 - Clustering

### Using Normalized Features File, Identify Candidate Clusters for Analysis

#### This notebook has 1 output:
1. top clusters csv file (1 row per business: cluster name, k-value, cluster number, business id)

#### After running this notebook, get csv file from new local folder, rename, and move to local

In [1]:
import pyspark
from pyspark.sql import SparkSession, DataFrame
from pyspark.ml.feature import VectorAssembler 
from pyspark.ml.clustering import KMeans 
from pyspark.sql.functions import count, min, max, mean, median, std, col, lit, concat, row_number
from pyspark.sql.types import IntegerType, FloatType, StringType, StructType, StructField
from pyspark.sql.window import Window
from functools import reduce

In [3]:
# Suppress native-hadoop warning
!sed -i '$a\# Add the line for suppressing the NativeCodeLoader warning \nlog4j.logger.org.apache.hadoop.util.NativeCodeLoader=ERROR,console' /$HADOOP_HOME/etc/hadoop/log4j.properties

#### Terminal commands, Upload Files to HDFS

In [3]:
# make a directory on hdfs (repeated in case this notebook is used alone)
! hdfs dfs -mkdir /Project/

In [2]:
# copy csv file to hdfs: features data (normalized features of selected businesses)
! hdfs dfs -copyFromLocal Features.csv /Project

copyFromLocal: `/Project/Restaurants_Features.csv': File exists
Found 7 items
-rw-r--r--   1 root supergroup   52067470 2024-06-03 02:33 /Project/CanadianPostalCodes202403.csv
drwxr-xr-x   - root supergroup          0 2024-06-03 02:35 /Project/Restaurants_Data.csv
drwxr-xr-x   - root supergroup          0 2024-06-03 02:35 /Project/Restaurants_Features.csv
drwxr-xr-x   - root supergroup          0 2024-06-03 03:25 /Project/Top_Clusters.csv
-rw-r--r--   1 root supergroup    5909393 2024-06-03 02:17 /Project/USZIPCodes202403.csv
-rw-r--r--   1 root supergroup  118863795 2024-06-03 02:16 /Project/yelp_academic_dataset_business.json
-rw-r--r--   1 root supergroup 5341868833 2024-06-03 02:17 /Project/yelp_academic_dataset_review.json

In [ ]:
! hdfs dfs -ls /Project

#### Terminal commands, Upload Files to HDFS

In [3]:
# Change the number of cores = n in `local[n]`
conf = pyspark.SparkConf().setAll([('spark.master', 'local[4]'),
                                   ('spark.app.name', 'Clustering')])
spark = SparkSession.builder.config(conf=conf).getOrCreate()

#### 3.1. Features CSV file to DataFrame

In [4]:
# read features data from csv file
path = "hdfs:///Project/Features.csv"
features = spark.read.csv(path,header=True,inferSchema=True).cache()

### 3.2. K-Means Clustering

#### *UPDATE HERE*
Change list of k-values to test different range

In [5]:
# List K-Values for Analysis
k_vals = [50, 100, 500, 1000, 5000, 10000]

#### 3.2.1. Define Functions for K-Means Clustering

In [6]:
# input: dataframe with business_id and stars as 1st 2 columns,
#    other columns are normalized features (0-1)
def get_vectors (df):
    vec_assembler = VectorAssembler(inputCols = df.columns[2:], outputCol='features') 
    data = vec_assembler.transform(df) 
    return data

In [7]:
# inputs: dataframe, num of clusters
# output: dataframe columns: business_id, stars, cluster, k_value
def get_clusters (df, num):
    data = get_vectors(df)
    kmeans = KMeans(featuresCol='features',k=num) 
    model = kmeans.fit(data) 
    with_labels = model.transform(data) # combine with next
    result = with_labels.select('business_id', 'stars', 'prediction') \
        .withColumnRenamed('prediction', 'cluster')
    result = result.withColumn('k_value', lit(num))
    return result

In [8]:
# inputs: cluster dataframe with 3 columns (business_id, stars, cluster)
def cluster_stats (df):
    result = df.groupBy('k_value', 'cluster').agg(count('business_id'), min('stars'), max('stars'),
                                       mean('stars'), median('stars'), std('stars'))
    result = result.orderBy(['count(business_id)'], ascending = [False])
    return result

In [9]:
# compare results for list of candidate k values
def compare_all (df, k_list):
    df.cache()
    # Create schema and empty dataframe for results (1 row for each cluster)
    columns = StructType([StructField('K_Value', # number of clusters 
                                  IntegerType(), True),
                    StructField('Cluster', # cluster number 
                                  IntegerType(), True),
                    StructField('Business_Count', # min businesses per cluster
                                IntegerType(), True),
                    StructField('Min_Stars', # min stars in cluster
                                FloatType(), True),
                    StructField('Max_Stars', # max stars in cluster
                                FloatType(), True),
                    StructField('Mean_Stars', # mean stars in cluster
                                FloatType(), True),
                    StructField('Median_Stars', # median stars in cluster
                                FloatType(), True),
                    StructField('Stars_Std', # standard deviation of stars in cluster
                                FloatType(), True)])
 
    final_result = spark.createDataFrame(data = [], schema = columns)
    for i in range (len(k_list)):
        result = cluster_stats(get_clusters(df, k_list[i]))
        final_result = reduce(DataFrame.unionAll, [final_result,result])
    return final_result

#### 3.2.1. Perform K-Means Clustering

In [10]:
# this cell takes time to run, dependent on how many k values have been chosen
# Run K-Means for List of Ks, one row per cluster, business count, stars stats
k_results = compare_all(features, k_vals)

03:26:22.853 [block-manager-storage-async-thread-pool-48] ERROR org.apache.spark.storage.BlockManagerStorageEndpoint - Error in removing broadcast 28
org.apache.spark.SparkException: Block broadcast_28 does not exist
	at org.apache.spark.errors.SparkCoreErrors$.blockDoesNotExistError(SparkCoreErrors.scala:318) ~[spark-core_2.12-3.5.0.jar:3.5.0]
	at org.apache.spark.storage.BlockInfoManager.blockInfo(BlockInfoManager.scala:269) ~[spark-core_2.12-3.5.0.jar:3.5.0]
	at org.apache.spark.storage.BlockInfoManager.removeBlock(BlockInfoManager.scala:544) ~[spark-core_2.12-3.5.0.jar:3.5.0]
	at org.apache.spark.storage.BlockManager.removeBlockInternal(BlockManager.scala:2095) ~[spark-core_2.12-3.5.0.jar:3.5.0]
	at org.apache.spark.storage.BlockManager.removeBlock(BlockManager.scala:2061) ~[spark-core_2.12-3.5.0.jar:3.5.0]
	at org.apache.spark.storage.BlockManager.$anonfun$removeBroadcast$3(BlockManager.scala:2033) ~[spark-core_2.12-3.5.0.jar:3.5.0]
	at org.apache.spark.storage.BlockManager.$anonfun$removeBroadcast$3$adapted(BlockManager.scala:2033) ~[spark-core_2.12-3.5.0.jar:3.5.0]
	at scala.collection.Iterator.foreach(Iterator.scala:943) ~[scala-library-2.12.18.jar:?]
	at scala.collection.Iterator.foreach$(Iterator.scala:943) ~[scala-library-2.12.18.jar:?]
	at scala.collection.AbstractIterator.foreach(Iterator.scala:1431) ~[scala-library-2.12.18.jar:?]
	at org.apache.spark.storage.BlockManager.removeBroadcast(BlockManager.scala:2033) ~[spark-core_2.12-3.5.0.jar:3.5.0]
	at org.apache.spark.storage.BlockManagerStorageEndpoint$$anonfun$receiveAndReply$1.$anonfun$applyOrElse$4(BlockManagerStorageEndpoint.scala:69) ~[spark-core_2.12-3.5.0.jar:3.5.0]
	at scala.runtime.java8.JFunction0$mcI$sp.apply(JFunction0$mcI$sp.java:23) ~[scala-library-2.12.18.jar:?]
	at org.apache.spark.storage.BlockManagerStorageEndpoint.$anonfun$doAsync$1(BlockManagerStorageEndpoint.scala:101) ~[spark-core_2.12-3.5.0.jar:3.5.0]
	at scala.concurrent.Future$.$anonfun$apply$1(Future.scala:659) ~[scala-library-2.12.18.jar:?]
	at scala.util.Success.$anonfun$map$1(Try.scala:255) ~[scala-library-2.12.18.jar:?]
	at scala.util.Success.map(Try.scala:213) ~[scala-library-2.12.18.jar:?]
	at scala.concurrent.Future.$anonfun$map$1(Future.scala:292) ~[scala-library-2.12.18.jar:?]
	at scala.concurrent.impl.Promise.liftedTree1$1(Promise.scala:33) ~[scala-library-2.12.18.jar:?]
	at scala.concurrent.impl.Promise.$anonfun$transform$1(Promise.scala:33) ~[scala-library-2.12.18.jar:?]
	at scala.concurrent.impl.CallbackRunnable.run(Promise.scala:64) [scala-library-2.12.18.jar:?]
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128) [?:?]
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628) [?:?]
	at java.lang.Thread.run(Thread.java:829) [?:?]

### 3.3. Compare All Clusters

#### 3.3.1. Define Functions to compare clusters

In [11]:
# return top 10 list for clusters ordered by 'type'
# type options: high_min, low_max, high_mean, low_mean, high_med, low_med, low_std
def top_ten (df, type):
    # low_std as default
    asc = True
    order_by = 'Stars_Std'
    if (type=='high_min'):
        asc = False
        order_by = 'Min_Stars'
    elif (type=='low_max'):
        order_by = 'Max_Stars'
    elif (type=='high_mean'):
        asc = False
        order_by = 'Mean_Stars'
    elif (type=='low_mean'):
        order_by = 'Mean_Stars'
    elif (type=='high_med'):
        asc = False
        order_by = 'Median_Stars'
    elif (type=='low_med'):
        order_by = 'Median_Stars'
    result = df.filter(col('Business_Count')>50).orderBy([order_by], ascending = [asc]).limit(10)
    return result

In [12]:
def get_best (df):
    # top 4 by mean stars, no duplicates
    group_cols = ['K_Value', 'Cluster']
    result = df.groupBy(group_cols).agg(mean("Mean_Stars").alias("Mean_Stars")) \
        .orderBy(['Mean_Stars'], ascending = [False]).limit(4)
    w = Window().orderBy(lit('A'))
    result = result.withColumn('Row_Number', row_number().over(w)).withColumn('Best', lit('Best'))
    result = result.select(concat(col('Best'), lit('_'), col('Row_Number')).alias('Cluster_Name'),
                    'K_Value', 'Cluster')
    return result

In [13]:
def get_worst (df):
    # bottom 4 by mean stars, no duplicates
    group_cols = ['K_Value', 'Cluster']
    result = df.groupBy(group_cols).agg(mean("Mean_Stars").alias("Mean_Stars")) \
        .orderBy(['Mean_Stars'], ascending = [True]).limit(4)
    w = Window().orderBy(lit('A'))
    result = result.withColumn('Row_Number', row_number().over(w)).withColumn('Worst', lit('Worst'))
    result = result.select(concat(col('Worst'), lit('_'), col('Row_Number')).alias('Cluster_Name'),
                    'K_Value', 'Cluster')
    return result

In [14]:
# compare results for list of candidate k values
def compare_k (df):
    df.cache()
    # Create schema and empty dataframe for results (1 row for each cluster)
    columns = StructType([StructField('K_Value', # number of clusters 
                                  IntegerType(), True),
                    StructField('Cluster', # cluster number 
                                  IntegerType(), True),
                    StructField('Mean_Stars', # mean stars in cluster
                                FloatType(), True)])
    # DF of all top 10 lists
    allDF = spark.createDataFrame(data = [], schema = columns)

    types = ['high_min', 'low_max', 'high_mean', 'low_mean', 'high_med', 'low_med', 'low_std']
    type_labels = ['Highest Minimum Stars', 'Lowest Maximum Stars',
               'Highest Mean Stars', 'Lowest Mean Stars',
               'Highest Median Stars', 'Lowest Median Stars',
               'Lowest Standard Deviation of Stars']
    for i in range (len(types)):
        print(type_labels[i])
        result = top_ten(k_results, types[i])
        result.show()
        allDF = reduce(DataFrame.unionAll, [allDF,result.select('K_Value', 'Cluster', 'Mean_Stars')])

    # get best and worst of allDF, combine into final_result
    final_result = get_best(allDF).union(get_worst(allDF))
    return final_result

#### 3.3.2. Perform comparison

Print Top 10 Lists and save Top 'Best' and 'Worst' Clusters

In [15]:
top_clusters = compare_k(k_results)

Highest Minimum Stars

+-------+-------+--------------+---------+---------+------------------+------------+-------------------+
|K_Value|Cluster|Business_Count|Min_Stars|Max_Stars|        Mean_Stars|Median_Stars|          Stars_Std|
+-------+-------+--------------+---------+---------+------------------+------------+-------------------+
|    500|    439|            60|      3.5|      4.5| 4.166666666666667|         4.0|0.30065841120113157|
|    500|    132|            57|      3.5|      5.0| 4.166666666666667|         4.0|0.35773760003135024|
|    500|     43|            55|      3.5|      5.0| 4.181818181818182|         4.0| 0.3646870343138524|
|    100|     59|           160|      3.0|      4.5|             3.925|         4.0|  0.438694461087303|
|    500|    107|            59|      3.0|      5.0|3.9915254237288136|         4.0|0.40991510289798927|
|   1000|    119|            73|      3.0|      4.5|3.8698630136986303|         4.0|  0.353822354793903|
|    500|    265|            68|      3.0|      5.0|               4.0|         4.0| 0.4652073843435434|
|   1000|    271|            58|      3.0|      5.0| 4.137931034482759|         4.0| 0.5112171874107659|
|    500|     55|            82|      3.0|      5.0| 4.060975609756097|         4.0|0.44714625926596924|
|   1000|    655|            58|      3.0|      4.5|3.5344827586206895|         3.5|0.45751108667917745|
+-------+-------+--------------+---------+---------+------------------+------------+-------------------+

Lowest Maximum Stars
+-------+-------+--------------+---------+---------+------------------+------------+-------------------+
|K_Value|Cluster|Business_Count|Min_Stars|Max_Stars|        Mean_Stars|Median_Stars|          Stars_Std|
+-------+-------+--------------+---------+---------+------------------+------------+-------------------+
|    500|    457|            83|      1.0|      3.5|2.1626506024096384|         2.0| 0.6054046909689366|
|   5000|   2188|            51|      1.0|      3.5|               2.0|         2.0| 0.6633249580710799|
|   1000|    558|            57|      1.0|      3.5|1.8771929824561404|         2.0| 0.5284808226888414|
|    500|    392|            73|      1.0|      3.5|2.0547945205479454|         2.0|0.49694653632916946|
|   1000|    125|            53|      1.0|      3.5| 1.990566037735849|         2.0| 0.6162117989231263|
|    500|    177|            65|      1.0|      3.5|2.1076923076923078|         2.0| 0.5624465786598347|
|   1000|    228|            53|      1.0|      3.5| 2.009433962264151|         2.0| 0.5674721785601191|
|   1000|    567|            53|      1.0|      3.5|2.1226415094339623|         2.0| 0.5875770029516793|
|  10000|   1099|            55|      1.0|      4.0| 1.981818181818182|         2.0| 0.6801663492310264|
|   5000|    241|            73|      1.5|      4.0|2.4863013698630136|         2.5| 0.7816142605909953|
+-------+-------+--------------+---------+---------+------------------+------------+-------------------+

Highest Mean Stars
+-------+-------+--------------+---------+---------+-----------------+------------+------------------+
|K_Value|Cluster|Business_Count|Min_Stars|Max_Stars|       Mean_Stars|Median_Stars|         Stars_Std|
+-------+-------+--------------+---------+---------+-----------------+------------+------------------+
|   1000|     80|            51|      3.0|      5.0|4.362745098039215|         4.5|0.5298908507659764|
|    500|    317|            62|      3.0|      5.0| 4.32258064516129|         4.5|0.5588100222175014|
|   1000|    129|            51|      2.0|      5.0|4.313725490196078|         4.5|0.7208382919471293|
|    500|    452|           110|      2.5|      5.0|4.295454545454546|         4.5|0.5877005983728221|
|    100|     29|           171|      2.5|      5.0|4.271929824561403|         4.5|0.5455987706876285|
|    500|    140|           128|      2.5|      5.0|       4.26953125|         4.5|0.5394016214769551|
|    100|      9|           267|      1.5|      5.0|4.262172284644195|         4.5|0.5590941252446733|
|   1000|    267|            66|      2.5|      5.0|4.234848484848484|         4.5|0.6090326312446207|
|    100|     68|           218|      2.5|      5.0| 4.23394495412844|         4.5|0.5454833705577712|
|     50|     29|           507|      1.5|      5.0|4.216962524654832|         4.5|0.6137974236252132|
+-------+-------+--------------+---------+---------+-----------------+------------+------------------+

Lowest Mean Stars
+-------+-------+--------------+---------+---------+------------------+------------+------------------+
|K_Value|Cluster|Business_Count|Min_Stars|Max_Stars|        Mean_Stars|Median_Stars|         Stars_Std|
+-------+-------+--------------+---------+---------+------------------+------------+------------------+
|   1000|    558|            57|      1.0|      3.5|1.8771929824561404|         2.0|0.5284808226888414|
|  10000|   1099|            55|      1.0|      4.0| 1.981818181818182|         2.0|0.6801663492310264|
|   1000|    125|            53|      1.0|      3.5| 1.990566037735849|         2.0|0.6162117989231263|
|  10000|    499|            51|      1.0|      4.0|               2.0|         2.0|  0.58309518948453|
|   5000|   2188|            51|      1.0|      3.5|               2.0|         2.0|0.6633249580710799|
|   1000|    228|            53|      1.0|      3.5| 2.009433962264151|         2.0|0.5674721785601191|
|   5000|   2168|            72|      1.0|      4.5| 2.013888888888889|         2.0|0.6498765983740614|
|   1000|    144|           184|      1.0|      4.5|2.0244565217391304|         2.0|0.6429098197653205|
|   5000|     33|            55|      1.0|      4.0| 2.036363636363636|         2.0|0.6372288490492297|
|  10000|    221|            59|      1.0|      4.5|2.0508474576271185|         2.0|0.6739929605065548|
+-------+-------+--------------+---------+---------+------------------+------------+------------------+

Highest Median Stars
+-------+-------+--------------+---------+---------+------------------+------------+------------------+
|K_Value|Cluster|Business_Count|Min_Stars|Max_Stars|        Mean_Stars|Median_Stars|         Stars_Std|
+-------+-------+--------------+---------+---------+------------------+------------+------------------+
|    500|      6|           153|      2.0|      5.0|  4.11437908496732|         4.5|0.6822387971977179|
|    100|      9|           267|      1.5|      5.0| 4.262172284644195|         4.5|0.5590941252446733|
|   1000|    244|            83|      1.5|      5.0|  4.13855421686747|         4.5|0.7296560040319038|
|    100|     47|           228|      1.5|      5.0|4.1118421052631575|         4.5|0.7432457284403912|
|     50|     29|           507|      1.5|      5.0| 4.216962524654832|         4.5|0.6137974236252132|
|    100|     68|           218|      2.5|      5.0|  4.23394495412844|         4.5|0.5454833705577712|
|   1000|    242|            76|      2.0|      5.0| 4.157894736842105|         4.5|0.6890114963520297|
|    100|     29|           171|      2.5|      5.0| 4.271929824561403|         4.5|0.5455987706876285|
|    500|    452|           110|      2.5|      5.0| 4.295454545454546|         4.5|0.5877005983728221|
|   1000|    267|            66|      2.5|      5.0| 4.234848484848484|         4.5|0.6090326312446207|
+-------+-------+--------------+---------+---------+------------------+------------+------------------+

Lowest Median Stars
+-------+-------+--------------+---------+---------+------------------+------------+------------------+
|K_Value|Cluster|Business_Count|Min_Stars|Max_Stars|        Mean_Stars|Median_Stars|         Stars_Std|
+-------+-------+--------------+---------+---------+------------------+------------+------------------+
|   1000|     79|           130|      1.0|      4.5| 2.146153846153846|         2.0|0.6332093529592049|
|   5000|    224|           108|      1.0|      4.5|2.0972222222222223|         2.0|0.6713716373137967|
|  10000|    743|            94|      1.0|      4.5| 2.154255319148936|         2.0|0.6761155486944935|
|   5000|   2168|            72|      1.0|      4.5| 2.013888888888889|         2.0|0.6498765983740614|
|    500|    206|           248|      1.0|      4.5|2.1129032258064515|         2.0|0.6638091211344512|
|   5000|    782|            67|      1.0|      4.0|2.2388059701492535|         2.0|0.6705843728986968|
|  10000|   1055|            62|      1.0|      4.0|2.2580645161290325|         2.0|0.6879640638481659|
|   5000|     33|            55|      1.0|      4.0| 2.036363636363636|         2.0|0.6372288490492297|
|    100|      1|           665|      1.0|      4.5|2.1406015037593984|         2.0|0.6773039210751397|
|   5000|   2188|            51|      1.0|      3.5|               2.0|         2.0|0.6633249580710799|
+-------+-------+--------------+---------+---------+------------------+------------+------------------+

Lowest Standard Deviation of Stars
+-------+-------+--------------+---------+---------+------------------+------------+-------------------+
|K_Value|Cluster|Business_Count|Min_Stars|Max_Stars|        Mean_Stars|Median_Stars|          Stars_Std|
+-------+-------+--------------+---------+---------+------------------+------------+-------------------+
|    500|    439|            60|      3.5|      4.5| 4.166666666666667|         4.0|0.30065841120113157|
|   1000|    119|            73|      3.0|      4.5|3.8698630136986303|         4.0|  0.353822354793903|
|    500|    132|            57|      3.5|      5.0| 4.166666666666667|         4.0|0.35773760003135024|
|    500|    416|            61|      3.0|      5.0| 4.163934426229508|         4.0| 0.3619543188881003|
|    500|    398|            52|      3.0|      4.5| 3.923076923076923|         4.0| 0.3622453856945781|
|    500|     43|            55|      3.5|      5.0| 4.181818181818182|         4.0| 0.3646870343138524|
|    500|     41|            53|      3.0|      4.5|3.9150943396226414|         4.0|0.37641845904989546|
|    500|    124|            60|      3.0|      5.0| 4.141666666666667|         4.0| 0.3805845934458745|
|    500|     70|            89|      2.5|      4.5| 3.853932584269663|         4.0|0.38584505244253436|
|    500|    112|            55|      3.0|      4.5| 4.027272727272727|         4.0|  0.389897681475797|
+-------+-------+--------------+---------+---------+------------------+------------+-------------------+

In [16]:
top_clusters.show()

+------------+-------+-------+
|Cluster_Name|K_Value|Cluster|
+------------+-------+-------+
|      Best_1|   1000|     80|
|      Best_2|    500|    317|
|      Best_3|   1000|    129|
|      Best_4|    500|    452|
|     Worst_1|   1000|    558|
|     Worst_2|  10000|   1099|
|     Worst_3|   1000|    125|
|     Worst_4|   5000|   2188|
+------------+-------+-------+

### 3.4. Save 'Best' and 'Worst' with Businesses for Analysis

#### 3.4.1. Define Functions to compile dataframe

In [17]:
# Get business_id list for a specific cluster
def get_id_list (k, cluster):
    bus_list = get_clusters(features, k).filter(col('cluster')==cluster).select('k_value', 'cluster', 'business_id')
    return bus_list

In [18]:
def combine_id_list (k_cl_df):
    # create list of tuples (name, k, c)
    name = [str(row['Cluster_Name']) for row in k_cl_df.collect()]
    k = [int(row['K_Value']) for row in k_cl_df.collect()]
    c = [int(row['Cluster']) for row in k_cl_df.collect()]
    list_ = [name, k, c]
    k_cl_list = [list(tup) for tup in zip(*list_)]
    
    # Create schema and empty dataframe for results (1 row for each cluster)
    columns = StructType([StructField('Cluster_Name', # number of clusters 
                                StringType(), True),
                    StructField('K_Value', # number of clusters 
                                IntegerType(), True),
                    StructField('Cluster', # cluster number 
                                IntegerType(), True),
                    StructField('Business_ID', # min businesses per cluster
                                StringType(), True)])
 
    final_result = spark.createDataFrame(data = [], schema = columns)
    for i in range (len(k_cl_list)):
        result = get_id_list(k_cl_list[i][1], k_cl_list[i][2])
        result = result.select(lit(k_cl_list[i][0]).alias('Cluster_Name'),
                    'k_value', 'cluster', 'business_id')
        final_result = reduce(DataFrame.unionAll, [final_result,result])
    return final_result

#### 3.4.2. Compile Top Clusters Dataframe

In [19]:
# this step takes the most time (looking up all businesses in each of the top clusters)
top_ids = combine_id_list(top_clusters)

In [20]:
# File name to save in HDFS
save_path = 'hdfs:///Project/Top_Clusters.csv'

In [21]:
top_ids.coalesce(1).write.csv(save_path, mode='overwrite', header='true')

#### End Spark Session

In [22]:
# End Spark Session
spark.stop()

Copy csv file from HDFS to local

#### *UPDATE HERE:*

##### (filename in Project folder should match name of .csv folders where file was saved in HDFS at top of notebook)

In [23]:
# UPDATE with folder name in HDFS (see output above)
! hdfs dfs -copyToLocal /Project/Top_Clusters.csv Clusters_CSV_Folder

##### after notebook runs, find the new file named “part-00000-…” in folder named “Clusters_CSV_Folder” Rename the “part-…” file as “Top_Clusters.csv” and move it into local folder.

##### Proceed to next notebook (4-Analysis.ipynb)